
.jumbotron{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    
    background-color: mediumslateblue;
    
    
}

.row{

    margin: 0px auto;
    padding: 30px 0px 30px 0px;
}

footer{
    background-color: rgb(197, 194, 214);
}

